*{
  margin: 0;
  padding: 0;
}
.App{
  background-image: url('https://top-fon.com/uploads/posts/2023-02/1675289302_top-fon-com-p-fon-dlya-prezentatsii-protsenti-108.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
  width: 100%;
}
.container{
  width: 400px;
  height: 500px;
  background-color: #00000058;
    padding: 40px 30px 30px 30px;
    border: 2px solid #ffffff;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    margin-top: 50px;
    float: right;
}
.container h1,p{
  color: white;
  text-align: center;
  font-family: cursive;
  padding: 10px;
}
.input{
  display: flex;
  flex-direction: column;
  margin: 25px;
  padding: 20px;
}
.button{
  display: flex;
  justify-content: space-around;
}
.result h3,p{
  color: white;
  text-align: center;
  font-family: cursive;
  padding: 10px;
  margin: 10px;
}